
.main {
  font-family: Cambria;
  min-height: 83vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */

.nav {
  margin-bottom: 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  list-style: none;
  margin: 0;
  text-decoration: none;
  padding-bottom: 0.8rem;
}

.navdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.4rem 2rem 0.6rem 2rem;
}

.navLi {
  font-size: 1.3rem;
  padding: 0.8rem 3rem 0 3rem !important;
}


/* Footer */

.footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 0.8rem 0;
 }

.footerCopyright {
  font-size: 1.2rem;
  margin:0 0 1rem 0;
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0;
}
